@import "tailwindcss";

body {
  background-color: #003366;
  background-image: linear-gradient(315deg, #003366 0%, #242124 74%);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #003366;
  background-image: linear-gradient(315deg, #003366 0%, #242124 74%);
  border-radius: 16px;
  max-width: 700px;
  min-height: 100vh;
  width: 100%;
  padding: 16px;
  /* border: 1px solid grey; */
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* WELCOME */
#root:has(> .welcome) {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    max-width: fit-content;
    align-self: center;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 8px 32px;
    text-transform: none;
    font-weight: bold;
    &:hover {
      background-color: lightgray;
    }
  }
}

/* DASHBOARD */
#root:has(> .dashboard) {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
  }

  .card {
    margin-top: 32px;
    border: 1px solid grey;
    border-radius: 16px;
    padding: 32px;
    background-color: #003153;
    background-image: linear-gradient(315deg, #003153 0%, #1b1b1b 74%);
    text-align: left;
    .title {
      display: flex;
      justify-content: space-between;
    }
    .tab {
      display: flex;
      justify-content: space-evenly;
      display: flex;
      justify-content: space-evenly;
      .deposit,
      .withdraw {
        font-weight: bold;
        width: 100%;
        align-self: center;
        justify-self: center;
        text-align: center;
        padding: 8px;
        cursor: pointer;
      }
      .active {
        border-bottom: 2px solid rgb(3, 79, 255);
        border-bottom: 2px solid #1a76d2;
        color: rgb(3, 79, 255);
        color: #1a76d2;
      }
      .no-active {
        border-bottom: 2px solid whitesmoke;
        color: white;
      }
    }
  }
}

/* INPUT */
.MuiTextField-root {
  background-color: whitesmoke;
  border-radius: 16px;
  .MuiOutlinedInput-root {
    border-radius: 16px !important;
  }
}
.MuiTextField-root.maxBalance {
  /* border: 1px solid red !important; */
  border-radius: 8px;
  input {
    padding: 6px !important;
  }
}

.disclaimer {
  width: 50%;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 8px;
  margin-top: 100px;
}
