@import "tailwindcss";

body {
  background-color: #003366;
  background-image: linear-gradient(315deg, #003366 0%, #242124 74%);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #003366;
  background-image: linear-gradient(315deg, #003366 0%, #242124 74%);

  border-radius: 16px;
  max-width: 700px;
  min-height: 100vh;
  width: 100%;
  padding: 16px;
  border: 1px solid grey;
  color: white;
  display: flex;
  flex-direction: column;
}

/* WELCOME */
#root:has(> .welcome) {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    max-width: fit-content;
    align-self: center;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 8px 32px;
    text-transform: none;
    font-weight: bold;
    &:hover {
      background-color: lightgray;
    }
  }
}

/* DASHBOARD */
#root:has(> .dashboard) {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
  }

  .card {
    margin-top: 32px;
    border: 1px solid grey;
    border-radius: 16px;
    padding: 32px;
    background-color: #003153;
    background-image: linear-gradient(315deg, #003153 0%, #1b1b1b 74%);
    text-align: left;
    .title {
      display: flex;
      justify-content: space-between;
    }
  }
}

/* INPUT */
.MuiTextField-root {
  background-color: whitesmoke;
  border-radius: 16px;
  .MuiOutlinedInput-root {
    border-radius: 16px !important;
  }
}
